@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #99cef0;
    font-family: 'Roboto', sans-serif;
    height:100vh;
    
}

section.chat_section {
    width: 700px;
    /*this width is used for mobile screen*/
    max-width: 90%;
    background: rgb(151, 246, 180);
    box-shadow:2px 0px 8px 3px #B2B2B2;
}

.brand {
    padding: 12px;
    background: #b1abab;
    display: flex;
    align-items: center;
}

.brand h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 10px;
}

.message_area {
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}

#textarea {
    width: 100%;
    border: solid rgb(134, 132, 132);
    border-radius: 2%;
    padding: 20px;
    font-size: 16px;
    outLine: none;
    background: #f0e6fe;
}

.message {
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 40px;
    max-width: 100px;
    position: relative;
}

.incoming {
    background: #d79ceb;
    color: #fff;
    border-radius: 5px;
}

.outgoing {
    background: #e9eafd;
    color: #787986;
    margin-left: auto;
    border-radius: 8px;
}

.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: black;
    font-size: 14px;
}